@model IEnumerable<HouseServiceModel>

@{
    ViewBag.Title = "Approve";
}
<h2 class="text-center">@ViewBag.Title</h2>

<hr />
<h4>Houses to approve</h4>
@if (!Model.Any())
{
    <h2 class="text-center">You have no houses to approve!</h2>
}
<div class="row">
    @foreach (var house in Model)
    {
        @await Html.PartialAsync("~/Areas/Admin/Views/Shared/_ApproveHousePartial.cshtml", house)
    }
</div>
