@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-md-1">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">For review</h5>
                <p class="card-text">Please chech houses for review.</p>
                <a asp-action="ForReview" class="btn btn-primary">For review</a>
            </div>
        </div>
    </div>
</div>